

    <div class="gallery carousel" [flickity]='{ "freeScroll": true, "wrapAround": true,"autoPlay": true }'>


  <div style="background-color: #1195F5;" class="gallery-cell">
    
       <img [src]="covers[0]" alt="Random first slide" style="height:250px; width: 110%;position: relative;left: -15px;">
   
    <div class="lines">
       <span class="dot"></span>
       <p style="margin-top:25px;margin-left: 16px;">Live Now</p>
       <p style="margin-top:45px;font-size: 8px;">Streaming In YouTube</p>
       <p style="margin-top:-17px;font-size: 20px;"><b>M&S Exclusive Highlights!</b></p>
       <p style="margin-top:-17px;font-size: 12px;">Enjoy the experience with Zoella ...</p>
       <button (click)="onSubmit()"  type="submit" class="btn btn-blue">Join Now</button>
    </div>
  </div>

  <div style="background-color: #6011F5;" class="gallery-cell">
   
        <img [src]="covers[1]" alt="Random first slide" style="height:250px; width: 110%;position: relative;left: -15px;">
     
    <div class="lines">
        <span class="dot"></span>
        <p style="margin-top:25px;margin-left: 20px;">Live Now</p>
        <p style="margin-top:45px;font-size: 10px;">Streaming In YouTube</p>
        <p style="margin-top:-17px;font-size: 25px;"><b>M&S Exclusive Highlights!</b></p>
        <p style="margin-top:-17px;font-size: 15px;">Enjoy the experience with Zoella ...</p>
        <button (click)="onSubmit()"  type="submit" class="btn btn-blue">Join Now</button>
    </div>
  </div>

  <div style="background-color: #9B31DD;" class="gallery-cell">
    
        <img [src]="covers[2]" alt="Random first slide" style="height:250px; width: 110%;position: relative;left: -15px;">
        
    <div class="lines">
        <span class="dot"></span>
        <p style="margin-top:25px;margin-left: 20px;">Live Now</p>
        <p style="margin-top:45px;font-size: 10px;">Streaming In YouTube</p>
        <p style="margin-top:-17px;font-size: 25px;"><b>M&S Exclusive Highlights!</b></p>
        <p style="margin-top:-17px;font-size: 15px;">Enjoy the experience with Zoella ...</p>
        <button (click)="onSubmit()" type="submit" class="btn btn-blue">Join Now</button>
    </div>
  </div>

 </div>
