body{
    height: 100%;
    background-color:#EFF1F5;
    /* margin-top: 90px;
    height: 1500px;  */
    }
  
  
    /* card design */
  
  #card_body{
    width: 52%;
    position: relative;
    left: 24%;
    background-color: #EFF1F5;
    height: 100%;
    margin-top: 40px;
    display: block;
  }
  
  
  
  .card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 6px;
  }
    .card button:hover {
      opacity: 0.7;
    }
  
    .row {
      margin: 8px -16px;
    }
  
    /* Add padding BETWEEN each column */
    .row,
    .row>.column {
      padding: 8px;
    }
  
    /* Create four equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;
      margin: 1%;
    }
  
    /* Clear floats after rows */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  

  
     /* product time` design in card */
     #product_status{
      margin-right: 30px;
      position: absolute;
      top:16px;
      left:110px;
      font-size: 12px;
      color: #254059;
      font-weight: bold;
    }
  
    /* product name design in card */
    #product_name{
      position: absolute;
      top: 40px;
      left:95px;
      margin-right: 30px;
      font-size: 12px;
      color: #254059;
      line-height: 15px;
      font-weight:500;
    }

     /* product days design in card */
     #product_days{
        position: absolute;
        top: 17.5px;
        right: 15px;
        font-size: 10px;
        color: #8395A5;
        line-height: 15px;
        font-weight:500;
      }
  

     .dot {
        position: absolute;
        height: 9px;
        width: 9px;
        background-color: #E63689;
        border-radius: 50%;
        display: inline-block;
        left: 95px;
        top: 20px;
      }
  
   
  
  
  
  
    
  
   
   