<div>
    <app-navigationclass></app-navigationclass>
</div>
<!-- Code inside this block -->
<div class="test-body">
    <app-myaccount></app-myaccount>
    <div class="container">
        <h2>Settings</h2>
        <div class="block">
            <img src="../../../../assets/images/login-face-icon.svg" height="70px" width="70px">
            <span style="font-size: 25px; vertical-align: middle; margin-left: 34px; margin-right: 14px;">Christina Johnaz</span>
            <img src="../../../../assets/images/edit.svg" height="23px" width="23px">
            <img src="../../../../assets/images/bgGroup585.png" style="opacity: 0;">
        </div>
        <div>
            <br>
            <h3>Personal Details</h3>
            <div class="block1">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input (click)="collapsedText1()" type="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputContact1">Contact Number</label>
                    <input (click)="collapsedText1()" type="text" class="form-control" value="99999999999">
                </div>
                <button *ngIf="!isCollapsed1" (click)="collapsed1()" type="submit" class="btn btn-primary">Save</button>
                <button *ngIf="!isCollapsed1" (click)="collapsed1()" class="btn btn-primary btn1">Cancel</button>
            </div>
            <div>
                <br>
                <h3>Change Password</h3>
                <div class="block1">
                <form class="form-forizontal">
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password</label>
                        <input (click)="collapsedText2()" type="password" class="form-control" placeholder="Type Here">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Re-confirm New Password</label>
                        <input (click)="collapsedText2()" type="password"  class="form-control" placeholder="Type Here">
                    </div>
                    <button *ngIf="!isCollapsed2" (click)="collapsed2()" type="submit" class="btn btn-primary">Save</button>
                    <button *ngIf="!isCollapsed2" (click)="collapsed2()" class="btn btn-primary btn1">Cancel</button>
                </form>
                </div>
            </div>
            <br><br>
        </div>
    </div>

</div>