<div>
    <app-navigationclass></app-navigationclass>
</div>
<!-- Code inside this block -->
<div class="test-body">

    <app-myaccount></app-myaccount>
    <div class="container">
        <div>
        <span class="_moveleft">
            <h2>Contact Details<span class="styl">Found {{no_of_contacts}} cards</span></h2>
        </span>
        <span class="_moveright">
            <button type="button" class="btn btn-primary">Add New +</button>
        </span>
        </div>
        <div class="disp">
            <div *ngFor="let detail of details">
                <span class="rightcorner">
                    <img src="../../../../assets/images/dotedit.svg">
                </span>
                <div class="contact">
                    {{detail}}
                </div>
                <button type="button" class="btn btn-primary">Set as Default</button>
            </div>
        </div>
    </div>
</div>