<div>
    <app-navigationclass></app-navigationclass>
</div>
<!-- Code inside this block -->
<div class="test-body">

    <app-myaccount></app-myaccount>
    <div class="container">
        <div>
            <span class="_moveleft">
                <h2>Preferences</h2>
                <div class="flex-spacer"></div>
            </span>
            <span class="nav">
                <a routerLink="/preference" mat-button>Interest</a>
                <a routerLink="/artist-preference" mat-button>Artist</a>
            </span>
        </div>
        <div class="disp">
            <div *ngFor="let name of artistname">
                <span>
                    <p>{{name}}</p>
                    <span style="color: #8395A5;font-size: 12px; margin-top: -12px;">1M+ Followers</span>
                </span>
                <button type="button" class="btn btn-primary">Follow</button>
            </div>
        </div>
    </div>
</div>